html {
    cursor: url(../Graphics/Cursors/Normal.png), auto;
    height: 100%;
    width: 100%;
    background: url('../Graphics/Background/background_v1.png') no-repeat fixed;
    background-position: center;
	background-size: cover;
}

body {
    margin: 0px;
    height: 100%;   
    width: 100%;
    font-family:cronospro;
}

.content {
    color: white;
    width: 1280px;
    position: relative;
    font-size: 20px;
    font-family: CronosPro;
    top: 230px;
    margin-left:auto;
    margin-right:auto;
    transition: all 0.33s;
    min-height:1px;
}

@font-face
{
    font-family:cronospro;
    src:url('../Graphics/Fonts/CronosPro.ttf');
}